<div class="layout">
  <!-- Toolbar -->
  <mat-toolbar class="toolbar">
    <button
      mat-icon-button
      (click)="toggleNav()">

      <mat-icon>
        menu
      </mat-icon>
    </button>

    <span class="title">
      Steam Stats
    </span>
  </mat-toolbar>

  <!-- Navigation -->
  <mat-sidenav-container
    class="container">

    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="!isMobile()"
      class="sidenav"
      [style.width.px]="
        isMobile()
        ? 260
        : expanded()
          ? 240
          : 72
          ">

      <mat-nav-list>
        @for (item of navItems; track item.path) {
          <a
            mat-list-item
            [routerLink]="item.path"
            routerLinkActive="active-link"
            [matTooltip]="!expanded() && !isMobile() ? item.label : ''"
            matTooltipPosition="right"
            (click)="closeMobile()"
            class="nav-item">

            <mat-icon matListItemIcon>
              {{ item.icon }}
            </mat-icon>

            <span
              matListItemTitle
              class="label"
              [class.collapsed]="
                !expanded() && !isMobile()
              ">
              {{ item.label }}
            </span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content
      class="content"
      [style.margin-left.px]="
        isMobile()
        ? 0
        : expanded()
          ? 240
          : 72
          ">

      <main class="page">
        <router-outlet />
      </main>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>